<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

    <style type="text/css">
        body
        {success
          font-family: Quicksand;
          font-weight: 300;
        }
        #side-bar
        {
            position: absolute;
            background: rgb(46, 109, 164);
            width:60px;
            height: 100%;
            text-align: center;
            padding: 10px;
            overflow: hidden;
            z-index:1000

        }
        #side-bar.out
        {
            animation-name: exitSideBar;
            animation-duration: 1s;
        }
        #side-bar:not(.active) div.item
        {
            display: none;
        }
        #side-bar.active
        {
            width: 200px;
            animation-name: enterSideBar;
            animation-duration: 1s;
        }

        @keyframes enterSideBar {
            from {width:60px;}
            to {width: 200px;}
        }

        @keyframes exitSideBar {
            to {width:60px;}
            from {width: 200px;}
        }

        #side-bar button
        {
            margin-bottom: 10px;
        }

        #side-bar div.item
        {
            background: rgba(255,255,255,.2);
            line-height: 30px;
            color:#FFF;
        }

        @media (max-width: 600px) {
          .container.main {
            margin-left: 70px;
            margin-right: 10px;
          }
        }

    </style>
    <script type="text/javascript">
        $(function(){
            var $sideBar = $("#side-bar");
            var $btnSideBar = $("#btn-side-bar");

            $btnSideBar.on('click', function(){
                if($sideBar.hasClass('active')){
                    $sideBar.removeClass('active');
                    $sideBar.addClass('out');
                    return;
                }
                $sideBar.removeClass('out');
                $sideBar.addClass('active');
            });
        });
    </script>

</head>
<body>
    <section id="side-bar" class="">
        <div class="row">
            <button id="btn-side-bar" class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
        </div>
        <div class="row">
          <div class="col-xs-12 item"><a href="/home">Home</a></div>
          <div class="col-xs-12 item"><a href="/disciplina/new">Criar</a></div>
        </div>
    </section>

    <div class="container main">

        <div class="page-header">
          <h1>Simbora?<br><small>25 dias pro enem</small></h1>
        </div>

        <div class="row">

            <div class="container-fluid centralizar">

              <form class="form-horizontal" method="post" action="/disciplina/add">
                <div class="container-fluid">
              	<div class="form-group">
                  <label class="col-sm-2 control-label" for="formGroupInputSmall">Disciplina</label>
                  <div class="col-sm-8">
                    <select name="disciplina" class="form-control">
                      <option></option>
                      <option value="Português">Português</option>
                      <option value="Matemática">Matemática</option>
                      <option value="Geográfia">Geográfia</option>
                      <option value="História">História</option>
                      <option value="Física">Física</option>
                      <option value="Química">Química</option>
                      <option value="Inglês">Inglês</option>
                      <option value="Espanhol">Espanhol</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6 form-group form-group col-sm-12">
                  <label class="col-sm-4 control-label hr control-label" for="formGroupInputSmall">Horário Inicial</label>
                      <div class='col-sm-8'>
                              <div class='input-group date datetime'>
                                  <input type='time' name="horaInicial" class="form-control" id="horaInicial" />
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span>
                                  </span>
                              </div>
                      </div>
                </div>
                <div class="col-sm-6 form-group form-group">
                  <label class="col-sm-4 control-label hr" for="formGroupInputSmall">Horário Final</label>
                      <div class='col-sm-8'>
                              <div class='input-group date datetime'>
                                  <input type='time' name="horaFinal" class="form-control" id="horaFinal"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span>
                                  </span>
                              </div>
                      </div>
                </div>
                <div class="btn-group col-sm-12" data-toggle="buttons">
                  <label>
                    <input type="checkbox" name="segunda" autocomplete="off">SEG
                  </label>
                  <label>
                    <input type="checkbox" name="terca" autocomplete="off">TER
                  </label>
                  <label>
                    <input type="checkbox" name="quarta" autocomplete="off">QUA
                  </label>
                  <label>
                    <input type="checkbox" name="quinta" autocomplete="off">QUI
                  </label>
                  <label>
                    <input type="checkbox" name="sexta" autocomplete="off">SEX
                  </label>
                  <label>
                    <input type="checkbox" name="sabado" autocomplete="off">SAB
                  </label>
                  <label>
                    <input type="checkbox" name="domingo" autocomplete="off">DOM
                  </label>
                </div>
                <hr>
                <div class="col-sm-4 form-group form-group">
                  <hr>
                  <button id="cadastrar" type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                </div>
              </form>
            </div>

          <script>
          </script>

        </div>
    </div>
</body>
</html>
