<form class="" action="/disciplina/update" method="get">
  <h2>Editar Disciplina:</h2>
  <label for="titulo">Titulo:</label>
  <input style="display: none" type="text" name="id" value="<%= _id %>">
  <input type="text" name="titulo" value="<%= titulo %>">
  <input type="submit" value="Salvar">
</form>
