<form class="" action="/disciplina/add" method="get">
  <h2>Nova Disciplina:</h2>
  <label for="titulo">Titulo:</label>
  <input type="text" name="titulo" value="">
  <input type="submit" value="Salvar">
</form>
